$path:'../';

@font-face {
  font-family: 'Mohave';
  src: url($path + 'fonts/Mohave/Mohave.eot?') format('eot'),
       url($path + 'fonts/Mohave/Mohave.woff') format('woff'), 
       url($path + 'fonts/Mohave/Mohave.svg#Mohave') format('svg'), 
       url($path + 'fonts/fonts/Mohave/Mohave.ttf') format('truetype');
}
@font-face {
  font-family: 'Mohave-Bold';
  src: url($path + 'fonts/Mohave-Bold/Mohave-Bold.eot?') format('eot'),
       url($path + 'fonts/Mohave-Bold/Mohave-Bold.woff') format('woff'), 
       url($path + 'fonts/Mohave-Bold/Mohave-Bold.svg#Mohave-Bold') format('svg'), 
       url($path + 'fonts/fonts/Mohave-Bold/Mohave-Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'Mohave';
  src: url($path + 'fonts/Mohave-SemiBold/Mohave-SemiBold.eot?') format('eot'),
       url($path + 'fonts/Mohave-SemiBold/Mohave-SemiBold.woff') format('woff'), 
       url($path + 'fonts/Mohave-SemiBold/Mohave-SemiBold.svg#Mohave-SemiBold') format('svg'), 
       url($path + 'fonts/fonts/Mohave-SemiBold/Mohave-SemiBold.ttf') format('truetype');
}

@import url(http://fonts.googleapis.com/css?family=Gilda+Display);
